@import "mixins";

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

html.aui-dialog-iframe-root-node {
	overflow:hidden;
}

.tout-content {
	overflow: auto;
}

.tout-buttons .aui-field-choice .aui-field-content {
    margin-bottom: 1em;
    overflow: hidden;
}
 
.tout-buttons input.aui-button-input {
    width: 7em;
    margin-right: 1em;
}

.tout-buttons .btn {
    width: 30%;
    margin: 0 8px 0 0;
    padding: 4px 12px;
    font-size: 14px;
    @include respond-to(phone) {
      width: 100%;
    }
}

.tout-selected-button{
    background-color: #50A2F5;
    color: #FFFFFF;
}

.tout-portlet .fieldset  {
    margin-top: 20px;
}

.tout-validator-alert {
    color: #B50303;
}

.tout-control-panel{
    width: 50%;
}

div.tout-content-iframe .modal-content .dialog-iframe-node{
	overflow: hidden;
}

div.tout-buttons {
    margin: 0 auto;
    margin-bottom: -20px; /* fix the bottom empty form which is causing overflow */
    width: 70%;
}

.tout-panel-default {
    border-color: #DDD !important;
}
.tout-panel {
    margin-bottom: 20px;
    background-color: #FFF;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}
.tout-error-message {
	color: #B50303;
}
.pages-results {
	margin-bottom: 15px;
	margin-top: 10px;
}
.pages-panel {
	max-height: 250px;
	overflow: auto;
}
.btn.check-pages-button {
	margin-top: -50px;
}
